.home {
  text-align: center;
  padding: 50px;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
}

.featuredContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .home {
    padding: 20px;
  }

  button {
    font-size: 1em;
    padding: 8px 15px;
  }
}